title: FAIRfin
description: The website of the FAIRfin student group
encoding: utf-8
url: https://fairfin.org
lang: en-US
baseurl: ""
repo: "https://github.com/fairfin/fairfin-website/"
email: "contact@fairfin.org"
author: FAIRfin

ass:
  style: compressed
permalink: pretty
excerpt_separator: <!-- more -->
timezone: Europe/Berlin

plugins:
  - jekyll-remote-theme

remote_theme: daviddarnes/alembic

navigation_header:
  Home: /
  Focus of our work: /focus
  Program: /program
  Why we are doing this: /why
  Team: /introductions
  Join us: /join-us
  
navigation_footer:
  Home: /
  Imprint: /imprint
