title: Fairfin
Description: The website of the FAIRfin student group

plugins:
  - jekyll-remote-theme

remote_theme: daviddarnes/alembic

navigation_header:
  Home: /
  Focus of our work: /focus
  Program: /program
