@charset "utf-8";

// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;

:root {
    font-size: 70%; // 0px                    ~ Mobile first
    @include breakpoint(break-1) { // 640px   ~ Small tablet up
      font-size: 70%;
    }
    @include breakpoint(break-2) { // 800px   ~ Large tablet up
      font-size: 80%;
    }
    @include breakpoint(break-3) { // 1024px  ~ Desktop up
      font-size: 90%;
    }
    @include breakpoint(break-4) { // 1600px  ~ Large desktop up
      font-size: 90%;
    }
}